/* Write your CSS code in this file */

h2 > span {
    font-size: 20px;
    font-style: italic;
}

#finalMessage {
    color: red;
    padding-left: 40px;
    font-size: 30px;
    font-weight: bold;
    height: 100px;
    width: 400px;
}

.guess {
    font-size: 40px;
    height: 100px;
    width: 200px;
}

.button {
    font-size: 15px;
    height: 30px;
    width: 100px;
}

ul li {
    font-size: 30px;
}

#hintMessage {
    font-size: 30px;
    width: 200px;
    color: blue;
    padding-left: 40px;
}